@model BankOfSimba.Models.BankAccount
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank of Simba</title>
</head>
<body>
    <h1>@Model.Name's Account</h1>
    <p>Name: @Model.Name</p>
    <p>Balance: @Model.Balance.ToString("F2")</p>
    <p>Type: @Model.AnimalType</p>
</body>
</html>
